@model TuyenDungWeb.Models.ViewModels.JobPostVM
@{
    ViewData["Title"] = "Chi Tiết Tin";
}

<!-- Header End -->
<div class="container-xxl py-5 bg-dark page-header mb-5">
    <div class="container my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Chi tiết tin</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-uppercase">
                <li class="breadcrumb-item"><a href="/customer/home">Trang chủ</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Chi tiết tin</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Header End -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="d-flex align-items-center mb-5">
            @foreach (var companyImage in Model.CompanyImages)
            {
                if (Model.JobPost.CompanyId == companyImage.CompanyId)
                {
                    <img class="flex-shrink-0 img-fluid border rounded" src="@companyImage.ImageUrl" alt="" style="width: 80px; height: 80px;">
                    break;
                }
            }
            <div class="text-start ps-4">
                <h3 class="mb-3">@Model.JobPost.Heading</h3>
                @foreach (var company in Model.Companies)
                {
                    if (Model.JobPost.CompanyId == company.Id)
                    {
                        <a asp-area="Customer" asp-action="Detail" asp-controller="Company" asp-route-name="@company.Name">
                            <h6 class="job-item__companyName mb-3">@company.Name</h6>
                        </a>
                        break;
                    }
                }
                <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>@Model.JobPost.Location</span>
                @foreach (var jobtype in Model.JobTypes)
                {
                    if (jobtype.Id == Model.JobPost.JobTypeId)
                    {
                        <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>@jobtype.Name</span>
                    }
                }
                <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>@Model.JobPost.Salary</span>
            </div>
        </div>
        <div class="mb-5">
            @*<h4 class="mb-3">Job description</h4>
            <p>Dolor justo tempor duo ipsum accusam rebum gubergren erat. Elitr stet dolor vero clita labore gubergren. Kasd sed ipsum elitr clita rebum ut sea diam tempor. Sadipscing nonumy vero labore invidunt dolor sed, eirmod dolore amet aliquyam consetetur lorem, amet elitr clita et sed consetetur dolore accusam. Vero kasd nonumy justo rebum stet. Ipsum amet sed lorem sea magna. Rebum vero dolores dolores elitr vero dolores magna, stet sea sadipscing stet et. Est voluptua et sanctus at sanctus erat vero sed sed, amet duo no diam clita rebum duo, accusam tempor takimata clita stet nonumy rebum est invidunt stet, dolor.</p>
            <h4 class="mb-3">Responsibility</h4>*@
            @Html.Raw(Model.JobPost.Content)
            @*            <p>Magna et elitr diam sed lorem. Diam diam stet erat no est est. Accusam sed lorem stet voluptua sit sit at stet consetetur, takimata at diam kasd gubergren elitr dolor</p>
            <ul class="list-unstyled">
            <li><i class="fa fa-angle-right text-primary me-2"></i>Dolor justo tempor duo ipsum accusam</li>
            <li><i class="fa fa-angle-right text-primary me-2"></i>Elitr stet dolor vero clita labore gubergren</li>
            <li><i class="fa fa-angle-right text-primary me-2"></i>Rebum vero dolores dolores elitr</li>
            <li><i class="fa fa-angle-right text-primary me-2"></i>Est voluptua et sanctus at sanctus erat</li>
            <li><i class="fa fa-angle-right text-primary me-2"></i>Diam diam stet erat no est est</li>
            </ul>
            <h4 class="mb-3">Qualifications</h4>
            <p>Magna et elitr diam sed lorem. Diam diam stet erat no est est. Accusam sed lorem stet voluptua sit sit at stet consetetur, takimata at diam kasd gubergren elitr dolor</p>*@
            @*<ul class="list-unstyled">
            <li><i class="fa fa-angle-right text-primary me-2"></i>Dolor justo tempor duo ipsum accusam</li>
            <li><i class="fa fa-angle-right text-primary me-2"></i>Elitr stet dolor vero clita labore gubergren</li>
            <li><i class="fa fa-angle-right text-primary me-2"></i>Rebum vero dolores dolores elitr</li>
            <li><i class="fa fa-angle-right text-primary me-2"></i>Est voluptua et sanctus at sanctus erat</li>
            <li><i class="fa fa-angle-right text-primary me-2"></i>Diam diam stet erat no est est</li>
            </ul>*@
            <div><label class="mb-3">Yêu cầu kinh nghiệm: @Model.JobPost.Experience năm</label></div>
            <div><label class="mb-3">Số lượng còn tuyển: @Model.JobPost.NumberOfRecruiting</label></div>
            <div><label class="mb-3">Ngày đăng: @String.Format("{0:dd/MM/yyyy}", Model.JobPost.CreatedDate)</label></div>
            <div><label class="mb-3">Hạn nộp hồ sơ: @String.Format("{0:dd/MM/yyyy}", Model.JobPost.EndDate)</label></div>
            <div class="d-flex ">
                <a class="btn btn-primary" href="/Customer/JobPost/Apply?id=@Model.JobPost.Id">Ứng Tuyển Ngay</a>
            </div>
        </div>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-1">
                        <h2 class="mt-n1 mb-0">Đề xuất theo ngành nghề cho bạn</h2>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active job-post__list">
                    @foreach (var jobpost in Model.JobPosts)
                    {
                        <div class="job-item p-4 mb-4">
                            <div class="row g-4">
                                <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                    @foreach (var companyImage in Model.CompanyImages)
                                    {
                                        if (jobpost.CompanyId == companyImage.CompanyId)
                                        {
                                            <img class="flex-shrink-0 img-fluid border rounded" src="@companyImage.ImageUrl" alt="" style="width: 80px; height: 80px;">
                                            break;
                                        }
                                    }

                                    <div class="text-start ps-4">
                                        <a asp-area="Customer" asp-controller="Home" asp-action="Detail" asp-route-url="@jobpost.UrlHandle">
                                        <h5 class="mb-3">@jobpost.Heading
                                        @if (jobpost.CreatedDate > DateTime.Now.AddDays(-3))
                                        {
                                            <span class="badge bg-danger mb-3">New</span>
                                        }
                                        </h5>
                                    </a>
                                    @foreach (var company in Model.Companies)
                                    {
                                    if (jobpost.CompanyId == company.Id)
                                    {
                                    <h6 class="job-item__companyName mb-3">@company.Name</h6>
                                    //if createdate < 2 day
                                    break;
                                    }
                                    }
                                    <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>@jobpost.Location</span>

                                    @foreach (var jobtype in Model.JobTypes)
                                    {
                                        if (jobpost.JobTypeId == jobtype.Id)
                                        {
                                            <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>@jobtype.Name</span>
                                            break;
                                        }
                                    }
                                    <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>@jobpost.Salary</span>
                                </div>
                                </div>
                                <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                    @foreach (var wish in Model.WishListVM)
                                    {
                                        if (jobpost.Id == wish.JobPostId && wish.Added == true)
                                        {
                                            <div class="d-flex mb-3">
                                                <a class="btn btn-light btn-square me-3 wishlist-link added" data-job-post-id="@jobpost.Id" href=""><i class="far fa-heart text-primary"></i></a>
                                                <a class="btn btn-primary" href="/Customer/JobPost/Apply?id=@jobpost.Id">Ứng tuyển</a>
                                            </div>
                                        }
                                        else if (jobpost.Id == wish.JobPostId && wish.Added == false)
                                        {
                                            <div class="d-flex mb-3">
                                                <a class="btn btn-light btn-square me-3 wishlist-link" data-job-post-id="@jobpost.Id" href=""><i class="far fa-heart text-primary"></i></a>
                                                <a class="btn btn-primary" href="/Customer/JobPost/Apply?id=@jobpost.Id">Ứng tuyển</a>
                                            </div>
                                        }
                                    }
                                    <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Hạn nộp hồ sơ: @jobpost.EndDate</small>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- Phân trang -->
                    <ul class="pagination"></ul>
                </div>
            </div>
        </div>
        <div class="middel_tab">
            <hr />
        </div>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-1">
                        @foreach (var jobtype in Model.JobTypes)
                        {
                            if (jobtype.Id == Model.JobPost.JobTypeId)
                            {
                                <h2 class="mt-n1 mb-0">Đề xuất theo việc làm @jobtype.Name cho bạn</h2>
                                break;
                            }
                        }
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active job-post__list">
                    @foreach (var jobpost in Model.JobPostLikeJobTypes)
                    {
                        <div class="job-item1 p-4 mb-4">
                            <div class="row g-4">
                                <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                    @foreach (var companyImage in Model.CompanyImages)
                                    {
                                        if (jobpost.CompanyId == companyImage.CompanyId)
                                        {
                                            <img class="flex-shrink-0 img-fluid border rounded" src="@companyImage.ImageUrl" alt="" style="width: 80px; height: 80px;">
                                            break;
                                        }
                                    }

                                    <div class="text-start ps-4">
                                        <a asp-area="Customer" asp-controller="Home" asp-action="Detail" asp-route-url="@jobpost.UrlHandle">
                                            <h5 class="mb-3">@jobpost.Heading</h5></a>
                                        @foreach (var company in Model.Companies)
                                        {
                                            if (jobpost.CompanyId == company.Id)
                                            {
                                                <h6 class="job-item__companyName mb-3">@company.Name</h6>
                                                break;
                                            }
                                        }
                                        <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>@jobpost.Location</span>

                                        @foreach (var jobtype in Model.JobTypes)
                                        {
                                            if (jobpost.JobTypeId == jobtype.Id)
                                            {
                                                <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>@jobtype.Name</span>
                                                break;
                                            }
                                        }
                                        <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>@jobpost.Salary</span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                    @foreach (var wish in Model.WishListVMLikeJobType)
                                    {
                                        if (jobpost.Id == wish.JobPostId && wish.Added == true)
                                        {
                                            <div class="d-flex mb-3">
                                                <a class="btn btn-light btn-square me-3 wishlist-link added" data-job-post-id="@jobpost.Id" href=""><i class="far fa-heart text-primary"></i></a>
                                                <a class="btn btn-primary" href="/Customer/JobPost/Apply?id=@jobpost.Id">Ứng tuyển</a>
                                            </div>
                                        }
                                        else if (jobpost.Id == wish.JobPostId && wish.Added == false)
                                        {
                                            <div class="d-flex mb-3">
                                                <a class="btn btn-light btn-square me-3 wishlist-link" data-job-post-id="@jobpost.Id" href=""><i class="far fa-heart text-primary"></i></a>
                                                <a class="btn btn-primary" href="/Customer/JobPost/Apply?id=@jobpost.Id">Ứng tuyển</a>
                                            </div>
                                        }
                                    }
                                    <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Hạn nộp hồ sơ: @jobpost.EndDate</small>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- Phân trang -->
                    <ul class="pagination1"></ul>
                </div>
            </div>
        </div>
    </div>
        <div class="middel_tab">
            <hr />
        </div>
    </div>



@section Scripts{
    @*<script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons  lists   table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  align lineheight | numlist bullist indent outdent',
        });
    </script>*@
    <script src="~/js/phantrang.js"></script>
    <script src="~/js/rating.js"></script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}