@model CompanyVM

<div class="card shadow border-0 my-4 pt-5">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> @(Model.Company.Id != 0 ? "Cập nhật" : "Thêm") công ty</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Company.Id" hidden />
            <input type="text" id="tagNames" name="tagNames" hidden/>
            <div class="row">
                <div class="col-md-12">
                <div class="border p-3">
                        @*<div asp-validation-summary="ModelOnly"></div>*@
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Company.Name" class="form-control border-0 shadow" />
                            <label asp-for="Company.Name" class="ms-2"></label>
                            <span asp-validation-for="Company.Name" class="text-danger"></span>
                        </div>
                        <div class="py-2 col-12">
                            <label asp-for="Company.Content" class="ms-2 text-muted"></label>
                            <textarea asp-for="Company.Content" class="form-control border-0 shadow"></textarea>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="Company.CompanyEmail" class="form-control border-0 shadow" />
                            <label asp-for="Company.CompanyEmail" class="ms-2"></label>
                            <span asp-validation-for="Company.CompanyEmail" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Company.PhoneNumber" class="form-control border-0 shadow" />
                            <label asp-for="Company.PhoneNumber" class="ms-2"></label>
                            <span asp-validation-for="Company.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Company.Location" class="form-control border-0 shadow" />
                            <label asp-for="Company.Location" class="ms-2"></label>
                            <span asp-validation-for="Company.Location" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input type="file" name="files" class="form-control border-0 shadow" multiple />
                            <label asp-for="Company.CompanyImages" class="ms-2"></label>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <select asp-for="@Model.tagIds" asp-items="@Model.Tags" id="tagIds" multiple name="tagIds" placeholder="Chọn tag" data-search="true" data-silent-initial-value-set="true">
                            </select>
                            
                        </div>
                       
                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                @if (Model.Company.Id != 0)
                                {
                            <button type="submit" class="btn btn-primary " style="width:100%">Cập nhật</button>
                                }
                                else
                                {
                            <button type="submit" class="btn btn-primary" style="width:100%">Thêm mới</button>
                                }
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Company" asp-action="Index" class="btn btn-outline-primary border " style="width:100%">
                                    Trở về
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-2">
                    @if (Model.Company.CompanyImages != null)
                    {
                        foreach (var image in Model.Company.CompanyImages)
                        {
                            <div class="border p-1 m-2 text-center">
                                <img src="@image.ImageUrl" width="100%"
                                     style="border-radius:5px; border:1px solid #bbb9b9" />
                                <a asp-action="DeleteImage" class="btn btn-danger" asp-route-imageId="@image.Id">
                                    <i class="bi bi-trash-fill"></i> Delete
                                </a>
                            </div>
                        }
                    }
                </div>
                </div>
        </form>
    </div>
</div>




@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons  lists   table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  align lineheight | numlist bullist indent outdent',
        });
    </script>
    <script src="~/assets/dist/virtual-select.min.js"></script>
    <script type="text/javascript" >
            VirtualSelect.init({
            ele: '#tagIds'
            });

    </script>
    <script>
        localStorage.setItem('tagIds', document.querySelector('.vscomp-value').textContent);
        document.getElementById("tagNames").value = localStorage.getItem('tagIds');
        // Lấy phần tử div có lớp vscomp-value
        var target = document.querySelector('.vscomp-value');

        // Tạo một MutationObserver instance
        var observer = new MutationObserver(function (mutations) {
            mutations.forEach(function (mutation) {
                // Lấy giá trị mới của phần tử div và lưu vào localStorage với key là "tagIds"
                localStorage.setItem('tagIds', mutation.target.textContent);
                //set value for input id="tagNames"
                document.getElementById("tagNames").value = localStorage.getItem('tagIds');
                //delete localStorage
                localStorage.clear();
            });
        });

         //Cấu hình và bắt đầu theo dõi phần tử
        var config = { attributes: true, childList: true, characterData: true };
        observer.observe(target, config);
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}