@model JobPostVM
@inject IHttpContextAccessor HttpContextAccessor
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> @(Model.JobPostTemp.Id != 0 ? "Update" : "Create") JobPost</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="JobPostTemp.Id" hidden />
            <input value="@ViewBag.CompanyId" id="CompanyId", name="CompanyId" />

            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        @*<div asp-validation-summary="ModelOnly"></div>*@
                        <div class="form-floating py-2 col-12">
                            <input asp-for="JobPostTemp.Heading" class="form-control border-0 shadow" />
                            <label asp-for="JobPostTemp.Heading" class="ms-2">Tiêu đề</label>
                            <span asp-validation-for="JobPostTemp.Heading" class="text-danger"></span>
                        </div>
                        <div class="py-2 col-12">
                            <label asp-for="JobPostTemp.Content" class="ms-2 text-muted">Nội dung</label>
                            <textarea asp-for="JobPostTemp.Content" class="form-control border-0 shadow"></textarea>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="JobPostTemp.ShortDescription" class="form-control border-0 shadow" />
                            <label asp-for="JobPostTemp.ShortDescription" class="ms-2">Mô tả ngắn</label>
                            <span asp-validation-for="JobPostTemp.ShortDescription" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="JobPostTemp.NumberOfRecruiting" class="form-control border-0 shadow" />
                            <label asp-for="JobPostTemp.NumberOfRecruiting" class="ms-2">Số lượng</label>
                            <span asp-validation-for="JobPostTemp.NumberOfRecruiting" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="JobPostTemp.Location" class="form-control border-0 shadow" />
                            <label asp-for="JobPostTemp.Location" class="ms-2">Vị trí</label>
                            <span asp-validation-for="JobPostTemp.Location" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <select asp-for="@Model.SelectedJobTypes" asp-items="@Model.JobTypeList" class="form-select border-0 shadow">
                            </select>
                            <label asp-for="SelectedJobTypes" class="ms-2">Chọn kiểu việc làm</label>
                            <span asp-validation-for="SelectedJobTypes" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="JobPostTemp.Experience" class="form-control border-0 shadow" />
                            <label asp-for="JobPostTemp.Experience" class="ms-2">Kinh nghiệm</label>
                            <span asp-validation-for="JobPostTemp.Experience" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="JobPostTemp.Salary" class="form-control border-0 shadow" />
                            <label asp-for="JobPostTemp.Salary" class="ms-2">Mức lương</label>
                            <span asp-validation-for="JobPostTemp.Salary" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="JobPostTemp.Gender" class="form-control border-0 shadow" />
                            <label asp-for="JobPostTemp.Gender" class="ms-2">Giới tính</label>
                            <span asp-validation-for="JobPostTemp.Gender" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="JobPostTemp.EndDate" class="form-control border-0 shadow" />
                            <label asp-for="JobPostTemp.EndDate" class="ms-2">Hạn nạp hồ sơ</label>
                            <span asp-validation-for="JobPostTemp.EndDate" class="text-danger"></span>
                        </div>
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <div class="form-floating py-2 col-12">
                                <select asp-for="@Model.SelectedCompanies" asp-items="@Model.CompanyList" class="form-select border-0 shadow">
                                </select>
                                <label asp-for="SelectedCompanies" class="ms-2">Chọn công ty</label>
                                <span asp-validation-for="SelectedCompanies" class="text-danger"></span>
                            </div>
                        }
                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                @if (Model.JobPostTemp.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                }
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="JobPost" asp-action="Index" class="btn btn-outline-primary border  form-control">
                                   Trở về
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
                
            </div>

        </form>
    </div>
</div>




@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons  lists   table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  align lineheight | numlist bullist indent outdent',
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}