@model JobPostVM
<!-- Header End -->
<div class="container-xxl py-5 bg-dark page-header mb-5">
    <div class="container my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Job Detail</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-uppercase">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Job Detail</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Header End -->
<!-- Job Detail Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row gy-5 gx-4">
            <div class="col-lg-8">
                
                <div class="mb-5">
                    <div class="applyJob">
                        <form method="post" enctype="multipart/form-data">
                            <input type="hidden" asp-for="@Model.ProfileHeader.JobPostId" value="@Model.JobPost.Id" />
                            <input type="hidden" asp-for="@Model.ProfileHeader.City" value="@Model.JobPost.Location" />
                            <input type="hidden" asp-for="@Model.ProfileHeader.UserReceiveId" value="@Model.JobPost.UserPostId" />
                            <input type="hidden" asp-for="@Model.ProfileHeader.ApplicationUserId" value="@Model.ProfileHeader.ApplicationUser.Id" />
                            <div class="mb-3">
                                <label for="name" class="form-label">Tên của bạn</label>
                                <input type="text" class="form-control" value="@Model.ProfileHeader.ApplicationUser.FullName" asp-for="@Model.ProfileHeader.Name" placeholder="Nhập tên của bạn...">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Địa chỉ email</label>
                                <input type="email" class="form-control" value="@Model.ProfileHeader.ApplicationUser.Email" asp-for="@Model.ProfileHeader.Email" placeholder="Nhập email...">
                            </div>
                            <div class="mb-3">
                                <label for="phone" class="form-label">Số điện thoại</label>
                                <input type="text" class="form-control" asp-for="@Model.ProfileHeader.PhoneNumber" value="@Model.ProfileHeader.ApplicationUser.PhoneNumber" id="phoneNumber" placeholder="Nhập số điện thoại...">
                            </div>
                            <div class="mb-3">
                                <label for="cv" class="form-label">CV của bạn</label>
                                <input type="file" class="form-control" id="cv" name="cv" placeholder="Chọn file CV...">
                            </div>
                            <div class="mb-3">
                                <label for="coverLetter" class="form-label">Thư xin việc</label>
                                <input type="file" class="form-control" id="coverLetter" name="coverLetter" placeholder="Chọn file thư xin việc...">
                            </div>

                            <button type="submit" class="btn btn-primary">Gửi</button>
                        </form>
                    </div>
                </div>


            </div>

            <div class="col-lg-4">
                <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                    <h4 class="mb-4">Thông tin việc làm</h4>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>@Model.JobPost.Heading</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>@Model.Company.Name</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Số lượng còn tuyển @Model.JobPost.NumberOfRecruiting</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>@Model.JobPost.Salary</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>@Model.JobPost.Location</p>
                    <p class="m-0"><i class="fa fa-angle-right text-primary me-2"></i>Hạn ứng tuyển: @String.Format("{0:dd/MM/yyyy}", Model.JobPost.EndDate)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Job Detail End -->
<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Company</h5>
                <a class="btn btn-link text-white-50" href="">About Us</a>
                <a class="btn btn-link text-white-50" href="">Contact Us</a>
                <a class="btn btn-link text-white-50" href="">Our Services</a>
                <a class="btn btn-link text-white-50" href="">Privacy Policy</a>
                <a class="btn btn-link text-white-50" href="">Terms & Condition</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Quick Links</h5>
                <a class="btn btn-link text-white-50" href="">About Us</a>
                <a class="btn btn-link text-white-50" href="">Contact Us</a>
                <a class="btn btn-link text-white-50" href="">Our Services</a>
                <a class="btn btn-link text-white-50" href="">Privacy Policy</a>
                <a class="btn btn-link text-white-50" href="">Terms & Condition</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Contact</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Location, City, Country</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Newsletter</h5>
                <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                    <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                    <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="https://freewebsitecode.com">Your Site Name</a>, All Right Reserved.


                    Designed By <a class="border-bottom" href="https://freewebsitecode.com">Free Website Code</a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="">Home</a>
                        <a href="">Cookies</a>
                        <a href="">Help</a>
                        <a href="">FQAs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>