@model JobPostVM


<!-- Header End -->
<div class="container-xxl py-5 bg-dark page-header mb-5">
    <div class="container my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Job Detail</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-uppercase">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Job Detail</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Header End -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="d-flex align-items-center mb-5">
            <img class="flex-shrink-0 img-fluid border rounded" src="@Model.CompanyImages[0].ImageUrl" alt="" style="width: 80px; height: 80px;">
            <div class="text-start ps-4">
                <h3 class="mb-3">@Model.Company.Name</h3>
                <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>@Model.Company.Location</span>
                <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>@Model.Company.CompanyEmail</span>
                <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>@Model.Company.PhoneNumber</span>
            </div>
        </div>
        <div class="mb-5">
            @*<h4 class="mb-3">Job description</h4>
            <p>Dolor justo tempor duo ipsum accusam rebum gubergren erat. Elitr stet dolor vero clita labore gubergren. Kasd sed ipsum elitr clita rebum ut sea diam tempor. Sadipscing nonumy vero labore invidunt dolor sed, eirmod dolore amet aliquyam consetetur lorem, amet elitr clita et sed consetetur dolore accusam. Vero kasd nonumy justo rebum stet. Ipsum amet sed lorem sea magna. Rebum vero dolores dolores elitr vero dolores magna, stet sea sadipscing stet et. Est voluptua et sanctus at sanctus erat vero sed sed, amet duo no diam clita rebum duo, accusam tempor takimata clita stet nonumy rebum est invidunt stet, dolor.</p>
            <h4 class="mb-3">Responsibility</h4>*@
            @Html.Raw(Model.Company.Content)
@*            <p>Magna et elitr diam sed lorem. Diam diam stet erat no est est. Accusam sed lorem stet voluptua sit sit at stet consetetur, takimata at diam kasd gubergren elitr dolor</p>
            <ul class="list-unstyled">
                <li><i class="fa fa-angle-right text-primary me-2"></i>Dolor justo tempor duo ipsum accusam</li>
                <li><i class="fa fa-angle-right text-primary me-2"></i>Elitr stet dolor vero clita labore gubergren</li>
                <li><i class="fa fa-angle-right text-primary me-2"></i>Rebum vero dolores dolores elitr</li>
                <li><i class="fa fa-angle-right text-primary me-2"></i>Est voluptua et sanctus at sanctus erat</li>
                <li><i class="fa fa-angle-right text-primary me-2"></i>Diam diam stet erat no est est</li>
            </ul>
            <h4 class="mb-3">Qualifications</h4>
            <p>Magna et elitr diam sed lorem. Diam diam stet erat no est est. Accusam sed lorem stet voluptua sit sit at stet consetetur, takimata at diam kasd gubergren elitr dolor</p>*@
            @*<ul class="list-unstyled">
                <li><i class="fa fa-angle-right text-primary me-2"></i>Dolor justo tempor duo ipsum accusam</li>
                <li><i class="fa fa-angle-right text-primary me-2"></i>Elitr stet dolor vero clita labore gubergren</li>
                <li><i class="fa fa-angle-right text-primary me-2"></i>Rebum vero dolores dolores elitr</li>
                <li><i class="fa fa-angle-right text-primary me-2"></i>Est voluptua et sanctus at sanctus erat</li>
                <li><i class="fa fa-angle-right text-primary me-2"></i>Diam diam stet erat no est est</li>
            </ul>*@
            <div class="jobPostComment">
                <form action="~/Customer/Company/Comment" method="post">
                    <input type="text" value="@Model.Company.Id" id="companyIdInForm" hidden name="companyIdInForm" />
                    <div class="mb-3">
                        <label for="name" class="form-label">Tên của bạn</label>
                        <input type="text" value="@ViewBag.fullname" class="form-control" name="name" id="name" placeholder="Nhập tên của bạn...">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Địa chỉ email</label>
                        <input type="email" value="@ViewBag.email"  class="form-control" name="email" id="email" placeholder="Nhập email...">
                    </div>
                    <div class="mb-3">
                        <label for="comment" class="form-label">Đánh giá công ty</label>
                        <textarea class="form-control" id="comment" name="comment" rows="3" placeholder="Để lại bình luận về công ty..."></textarea>
                    </div>
                    <div class="rating mb-3">
                        <label for="rating" class="form-label">Đánh giá số sao</label>
                        <div class="rating">
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                        </div>

                    </div>

                    <input type="text" name="rating" id="rating" class="rating-value mb-3" hidden />
                    <button type="submit" class="btn btn-primary">Gửi</button>
                </form>
            </div>
            <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="container">
            <h1 class="text-center mb-5">Một số nhận xét về chúng tôi!!!</h1>
            <div class="owl-carousel testimonial-carousel">
                @foreach (var companyComment in Model.CompanyComments)
                {
                    <div class="testimonial-item bg-light rounded p-4">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p>@companyComment.Description</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded" src="~/assets/img/profile-user.png" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                @foreach (var user in Model.ApplicationUsers)
                                {
                                    if(user.Id == companyComment.UserId)
                                    {
                                        <h5 class="mb-1">@user.FullName</h5>
                                        break;
                                    }
                                }
                                <small>@String.Format("{0:yyyy/MM/dd}", companyComment.DateAdded)</small>
                                @if(companyComment.Rate == 1){
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star"></i>
                                    <i class="bi bi-star"></i>
                                    <i class="bi bi-star"></i>
                                    <i class="bi bi-star"></i>
                                }   
                                else if(companyComment.Rate == 2)
                                {
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star"></i>
                                    <i class="bi bi-star"></i>
                                    <i class="bi bi-star"></i>
                                }
                                else if(companyComment.Rate == 3)
                                {
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star"></i>
                                    <i class="bi bi-star"></i>
                                }
                                else if(companyComment.Rate == 4)
                                {
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star"></i>
                                }
                                else if (companyComment.Rate == 5)
                                {
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
            </div>
            </div>
        </div>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-1">
                        <h1 class="mt-n1 mb-0">Danh sách việc làm mà công ty đã đăng</h1>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active job-post__list">
                    @foreach (var jobpost in Model.JobPosts)
                    {
                        <div class="job-item p-4 mb-4">
                            <div class="row g-4">
                                <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                    @foreach (var companyImage in Model.CompanyImages)
                                    {
                                        if (jobpost.CompanyId == companyImage.CompanyId)
                                        {
                                            <img class="flex-shrink-0 img-fluid border rounded" src="@companyImage.ImageUrl" alt="" style="width: 80px; height: 80px;">
                                            break;
                                        }
                                    }

                                    <div class="text-start ps-4">
                                        <h5 class="mb-3">@jobpost.Heading
                                        @if (jobpost.CreatedDate > DateTime.Now.AddDays(-3))
                                        {
                                            <span class="badge bg-danger mb-3">New</span>
                                        }
                                        </h5>
                                        @foreach (var company in Model.Companies)
                                        {
                                            if (jobpost.CompanyId == company.Id)
                                            {
                                                <h6 class="job-item__companyName mb-3">@company.Name</h6>
                                                //if createdate < 2 day
                                                break;
                                            }
                                        }
                                        <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>@jobpost.Location</span>

                                        @foreach (var jobtype in Model.JobTypes)
                                        {
                                            if (jobpost.JobTypeId == jobtype.Id)
                                            {
                                                <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>@jobtype.Name</span>
                                                break;
                                            }
                                        }
                                        <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>@jobpost.Salary</span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                    @foreach (var wish in Model.WishListVM)
                                    {
                                        if (jobpost.Id == wish.JobPostId && wish.Added == true)
                                        {
                                            <div class="d-flex mb-3">
                                                <a class="btn btn-light btn-square me-3 wishlist-link added" data-job-post-id="@jobpost.Id" href=""><i class="far fa-heart text-primary"></i></a>
                                                <a class="btn btn-primary" href="">Ứng tuyển</a>
                                            </div>
                                        }
                                        else if (jobpost.Id == wish.JobPostId && wish.Added == false)
                                        {
                                            <div class="d-flex mb-3">
                                                <a class="btn btn-light btn-square me-3 wishlist-link" data-job-post-id="@jobpost.Id" href=""><i class="far fa-heart text-primary"></i></a>
                                                <a class="btn btn-primary" href="">Ứng tuyển</a>
                                            </div>
                                        }
                                    }
                                    <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Hạn nộp hồ sơ: @jobpost.EndDate</small>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- Phân trang -->
                    <h2>Phân trang ở đây</h2>
                    <ul class="pagination"></ul>
                </div>
            </div>
        </div>
        <div class="middel_tab">
            <hr />
        </div>
    </div>
</div>
</div>



@section Scripts{
    @*<script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons  lists   table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  align lineheight | numlist bullist indent outdent',
        });
    </script>*@
    <script src="~/js/phantrang.js"></script>
    <script src="~/js/rating.js"></script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}