@model List<Company>
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Company List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Company" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>  Create New Company
                </a>
            </div>
        </div>

        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>PhoneNumber</th>
                    <th>Content</th>
                    <th>CompanyEmail</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Location</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.Content</td>
                        <td>@item.CompanyEmail</td>
                        <td>
                            <a asp-controller="Company" asp-action="Upsert" asp-route-id="@item.Id" class="btn btn-success">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a asp-controller="Company" asp-area="Admin" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
           </tbody>
        </table>
            
    </div>
</div>
@*
@section Scripts{
    <script src="~/js/company.js"></script>
}*@